<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.lenovo.TB710FU"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
        	android:requiredSystemPropertyName="ro.product.vendor.device"
        	android:requiredSystemPropertyValue="TB710FU"
		android:priority="370"
		android:isStatic="true" />
</manifest>